*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.grid {
  width:400px;
  height: 600px;
  background-color: #ffff00;
  position:relative;
}

.doodler {
  width:60px;
  height:85px;
  background-color: red;
  position:absolute;
}

.platform {
  width:85px;
  height:15px;
  background-color: green;
  position:absolute;
}